:root {
    --mainTextColor: #ffffff;
    --secondTextColor: #e6e6e6;
    --borderColor: #164D56;
    --mainWebpageColor: #1B2936;
    --secondWebpageColor: #15202B;
    --themeDotBorder: #ffffff;
    --previewBackground: #192734cc;
    --previewShadow: #111921;
    --buttonColor: #17a2b8;
}