:root {
    --mainTextColor: #ffffff;
    --secondTextColor: #e6e6e6;
    --borderColor: #37c464;
    --mainWebpageColor: #2e7e47;
    --secondWebpageColor: #1b5c30;
    --mainPreviewDotsColor: #17b84a;
    --mainPreviewLinesColor: #17b84a;
    --themeDotBorder: #ffffff;
    --previewBackground: #2a2f25;
    --buttonColor: #17b84a;
    --menuBackgroundColor: #2e7e47e6;
}