:root {
    --mainTextColor: #ffffff;
    --secondTextColor: #e6e6e6;
    --borderColor: #161914;
    --mainWebpageColor: #1b5c30;
    --secondWebpageColor: #2e7e47;
    --themeDotBorder: #ffffff;
    --previewBackground: #515a48cc;
    --previewShadow: #2a2f25;
    --buttonColor: #669966;
}