:root {
    --mainTextColor: #ffffff;
    --secondTextColor: #e6e6e6;
    --borderColor: #955f98;
    --mainWebpageColor: #623c6c;
    --secondWebpageColor: #430d52;
    --mainPreviewLinesColor: #9017b8;
    --themeDotBorder: #ffffff;
    --previewBackground: #1d1520cc;
    --buttonColor: #8534a3;
    --menuBackgroundColor: #633c6ce6;
}