:root {
    --mainTextColor: #ffffff;
    --secondTextColor: #e6e6e6;
    --borderColor: #e89ea3;
    --mainWebpageColor: #eb7678;
    --secondWebpageColor: #a73738;
    --mainPreviewLinesColor: #cd2727;
    --themeDotBorder: #ffffff;
    --previewBackground: #b34545;
    --buttonColor: #d81b1b;
    --menuBackgroundColor: #7e2e2ee6;
}