:root {
    --mainTextColor: #ffffff;
    --secondTextColor: #e6e6e6;
    --borderColor: #f03d49;
    --mainWebpageColor: #eb7678;
    --secondWebpageColor: #a73738;
    --mainPreviewLinesColor: #f03d49;
    --themeDotBorder: #ffffff;
    --previewBackground: #ab3434;
    --buttonColor: #d81b1b;
    --menuBackgroundColor: #7e2e2ee6;
    --aTagColor: #0f0505;
}